<%- include ('partials/header') %>


<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h1 class="jumbo-header"><%= category.title %></h1>
  <% if(category.section != 'parent') {%>
  <h4><a href="/entries/<%= parentCategory._id %>"><%= parentCategory.title %></a> > <%= category.title %></h4>
  <% } %>
  <div class="category-container">
  <% category.category.forEach((category) => { %>
      <a href="/search/?query=<%= category %>"><span class="category"> <%= category %> </span> </a>
  <% }) %>
  </div>
  <p><%- category.description %></p>
  <% if(category.section == 'parent') { %>
  <a href="/entries"><button class="button-main">Go Back</button></a>
  <% } %>
  <% if(adminStatus || category.user == user._id) { %>
  <a href="/entries/<%= category._id %>/new"><button class="button-main">Add a new FAQ</button></a>
  <% } %>
  <% if(adminStatus || category.user == user._id) { %>
  <a href="/category/<%= category._id %>/new"><button class="button-main">Add a new Subcategory</button></a>
  <% } %>
  <a href="/category/<%= category._id %>/edit/">
    <% if(adminStatus || category.user == user._id) { %>
    <button style="display: block; margin-top: 3px;" class="button-main-sm">Edit</button>
    <% } %>
  </a>
  </div>
  </header>
  <div class="container">
    <ul class="list-group">
      <% if(!category.faqs.length && !category.subCategories.length) { %>
        <p>No available data yet. Start building this information repository by adding an FAQ or SubCategory.</p>
      <% } else { %>
        <% category.faqs.forEach((entry) =>{ %>
        <a class = "entry-link" href="/entries/<%= category._id %>/<%=entry._id%>"><li class="list-group-item"><%= entry.title %></li></a>
        <% }); %>
      <% } %>
      <% if(category.subCategories.length) { %>
      <% category.subCategories.forEach((subCategory) =>{ %>
        <a class = "entry-link" href="/entries/<%= subCategory._id %>"><li class="list-group-item"><%= subCategory.title %><span class="glyphicon glyphicon-folder-open"></span></li></a>
      <% }); %>
      <% } %>
    </ul>
  </div>
</div>



<%- include ('partials/footer') %>
