<%- include ('partials/header') %>


<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h1 class="jumbo-header"><%= category.title %></h1>
  <% if(sectionArray != undefined) { %>
    <span>
    <% for(let i = sectionArray.length - 1; i >= 0; i--) {%>
      <% if(i == 0) {%>
        <h4 style="display: inline-block"><a href="/entries/<%= sectionArray[i]._id %>"><%= sectionArray[i].title %></a></h4>
        <% } else { %>
        <h4 style="display: inline-block"><a href="/entries/<%= sectionArray[i]._id %>"><%= sectionArray[i].title %></a></h4><span style="padding: 0px 2px 0px 5px;">/</span>
        <% } %>
  <% } %>
  </span>
  <% } %>
  <% if(category.owner) { %>
    <div class="avatar-container">
    <span style="color: black; text-shadow: 0 0 0 transparent;"><%=category.owner.username%></span>
    <div class="avatar">
      <% if(category.owner.avatar) {%>
      <img src="/imgs/avatars/choices/<%=category.owner.avatar%>" alt="">
      <% } else { %>
      <img src="/imgs/avatars/default/otter-pixel-trans.png" alt="">
      <% } %>
    </div>
    </div>
  <% } %>
  <div class="category-container">
  <% category.category.forEach((category) => { %>
      <a href="/search/?query=<%= category %>"><span class="category"> <%= category %> </span> </a>
  <% }) %>
  </div>
  <p><%- category.description %></p>
  <% if(category.section == 'parent' && user !== null) { %>
  <a href="/entries"><button class="button-main">Go Back</button></a>
  <% } %>
  <% if(user !== null && user.isAdmin || user !== null && category.user == user._id) { %>
  <a href="/entries/<%= category._id %>/new"><button class="button-main">Add a new FAQ</button></a>
  <% } %>
  <% if(user !== null && user.isAdmin || user !== null && category.user == user._id) { %>
  <a href="/category/<%= category._id %>/new"><button class="button-main">Add a new Subcategory</button></a>
  <% } %>
  <a href="/category/<%= category._id %>/edit/">
    <% if(user !== null && user.isAdmin || user != null && category.user == user._id) { %>
    <button style="display: block; margin-top: 3px;" class="button-main-sm">Edit</button>
    <% } %>
  </a>
  <a href="/category/<%= category._id %>/move/">
    <% if(user !== null && user.isAdmin && !category.isPrivate || user != null && category.user == user._id && !category.isPrivate) { %>
    <button style="display: block; margin-top: 3px;" class="button-main-sm">Move</button>
    <% } %>
  </a>
  </div>
  <% if(!category.isPrivate) { %>
  <div>
    <div class="show-link glyphicon glyphicon-link absolute-top-right"></div>
    <% if(bookmarked) { %>
    <div  data-type="category" data-id="<%= category._id %>" class="glyphicon glyphicon-bookmark checked absolute-top-left"></div>
    <% } else if(bookmarked === false) { %>
      <div  data-type="category" data-id="<%= category._id %>" class="glyphicon glyphicon-bookmark absolute-top-left"></div>
    <% } else {%>
    <% }%>
  </div>
  <% } %>
  </header>
  <div class="container">
    <ul class="list-group">
      <% if(!category.faqs.length && !category.subCategories.length) { %>
        <p>No available data yet. Start building this information repository by adding an FAQ or SubCategory.</p>
      <% } else { %>
        <% category.faqs.forEach((entry) =>{ %>
          <% if(entry.isPrivate && user == null) { %>
        <a class = "entry-link" href="/entries/<%= category._id %>/<%=entry._id%>"><li class="list-group-item"><%= entry.title %><span class="glyphicon glyphicon-lock"></span></li></a>
        <% } else {%>
          <a class = "entry-link" href="/entries/<%= category._id %>/<%=entry._id%>"><li class="list-group-item"><%= entry.title %></li></a>
          <% } %>
        <% }); %>
      <% } %>
      <% if(category.subCategories.length) { %>
      <% category.subCategories.forEach((subCategory) =>{ %>
        <a class = "entry-link" href="/entries/<%= subCategory._id %>"><li class="list-group-item"><%= subCategory.title %><span class="glyphicon glyphicon-folder-open"></span></li></a>
      <% }); %>
      <% } %>
    </ul>
  </div>
</div>



<%- include ('partials/footer') %>
<script type="module" src="/bookmark.js"></script>
