<%- include ('partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="jumbo-header">Request a Guide <%= emoji %></h1>
      <p>Not seeing a guide that you think could be added to the Deskbook? No problem. Just fill out the
        simple form below, and an administrator will add a new Deskbook tutorial.
      </p>
        <div class="db-panel">
          <h4>
            <% if(message.length) {%>
            <div class="message">
              <%= message %>
              <br>
              <a href="/help">
                <button style="margin-left: 5px;" class="button-main-sm">Submit Another</button>
              </a>
            </div>
            <% if(lastRoute.length) { %>
              <a href="<%=lastRoute%>">
                <button style="margin-left: 5px;" class="button-main-sm">Go Back</button>
              </a>
            <% } %>
            <% } else { %>
            <form action="/help" method="post">
              <div class="headline">
                What would you like added to the Deskbook?
              </div>
            <div class="flex-row">
              <div class="db-panel fg1">
                <div class="sub-headline">
                  name
                </div>
                <input required type="text" class="form-control" id="formGroupExampleInput" placeholder="name" name="post[submitter]">
              </div>
              <div class="db-panel fg1">
                <div class="sub-headline">
                  email
                </div>
                <input required type="text" class="form-control" id="formGroupExampleInput2" placeholder="email" name="post[email]">
              </div>
            </div>
            <div class="flex-row">
              <div class="db-panel fg1 text-center">
                <div class="sub-headline">
                  Patron or Staff
                </div>
                <select name="post[location]">
                  <% if(isPublic) { %>
                  <option selected hidden value="patron">Patron</option>
                  <% } else { %>
                  <option selected hidden value="staff">Staff</option>
                  <% } %>
                  <option value="patron">Patron</option>
                  <option value="staff">Staff</option>
                </select>
              </div>
            </div>
            <div class="flex-row">
              <div class="db-panel fg1">
                <div class="sub-headline">
                  Description of what is to be added
                </div>
                <div class="form-group">
                  <textarea required name="post[guide]" rows="8" cols="80"></textarea>
                </div>
                <div class="form-group">
                  <input hidden type="text" name="post[referer]" value="<%=referer%>">
                </div>
              </div>
          </div>
          <button style="margin-left: 5px;" class="button-main-sm">Submit</button>
        </form>
             <% }%>
          </h4>
    </div>
    </div> <!-- inner container -->
  </header>
</div>
