<%- include ('partials/header') %>


<div class="container-fluid">
    <header class="jumbotron">
	  <div class="container">
		<h1 class="jumbo-header">Welcome, <%= user.username %></h1>
		<p></p>
    <% if(adminStatus == true) { %>
		<a href="/category/new-parent"><button class="button-main">Add New Parent Category</button></a>
    <% } %>
    <a href="/category/new-parent-private"><button class="button-main">Add New Private Category</button></a>
    <!-- <a href="/entries/new"><button class="button-main">Add A New FAQ</button></a> -->
	  </div>
	</header>
  <div class="container">
    <h1 class="jumbo-header">System Wide Categories</h1>
    <p>Most Recently Added</p>
    <a href="/category/public/?page=1"><button class="button-main">View All</button></a>
    <hr>
    <% if(categories.length != 0) { %>
      <div class="row" style="display: flex; flex-wrap: wrap">
        <% categories.forEach((heading) =>{ %>
          <div class="card">
          <div class="slanted-header">
          <div class="avatar-container">
            <% if(!heading.owner){ %>
            <span>not owned</span>
            <div class="card-avatar">
              <img src="/imgs/avatars/default/otter-pixel-trans.png" alt="">
            </div>
            <% } else { %>
            <span><%=heading.owner.username%></span>
            <div class="card-avatar">
              <img src="/imgs/avatars/choices/<%=heading.owner.avatar%>" alt="">
            </div>
            <% } %>
          </div>
          <i class="fas fa-lock-open"></i>
          </div>
          <div class="body">
          <div class="date">
            <% let created = new Date(heading.createdAt); %>
            <% let edited = new Date(heading.updatedAt); %>
            <i class="far fa-clock"></i><span><%= created.toDateString(); %></span>
          </div>
          <div class="title">
            <%= heading.title %>
          </div>
          <div class="description">
            <%- heading.description.slice(0, 50) %>...
          </div>
          <div class="info">
            <div class="info-tab">
              <i class="far fa-file-alt"></i>
              <span><%= heading.faqs.length %></span>
            </div>
            <div class="info-tab">
              <i class="far fa-folder"></i>
              <span><%= heading.subCategories.length %></span>
            </div>
          </div>
          <div class="last-update">
            <i class="far fa-edit"></i>
            <span>last update on <span><%= edited.toDateString(); %></span></span>
          </div>
          <a href="/entries/<%= heading._id %>" class="btn-chevron"><i class="fas fa-chevron-right"></i></a>
          </div>
          </div>
        <% }); %>
      </div>
      <% } else {%>
        <div class="container">
          <h4 class="jumbo-header">This section is loney! Add some knowledge to the deskbook to get started!</h4>
        </div>
      <% } %>
  </div>
  <% if(privateCategories.length) { %>
  <div class="container">
    <h1 class="jumbo-header">Private Entries</h1>
    <p>Most Recently Added</p>
    <a href="/category/private/?page=1"><button class="button-main">View All</button></a>
    <hr>
    <div class="row" style="display: flex; flex-wrap: wrap">
      <% privateCategories.forEach((heading) =>{ %>
        <div class="card">
        <div class="slanted-header private">
        <div class="avatar-container">
        <span><%=user.username%></span>
        <div class="card-avatar">
          <% if(user.avatar) {%>
          <img src="/imgs/avatars/choices/<%=user.avatar%>" alt="">
          <% } else { %>
          <img src="/imgs/avatars/default/otter-pixel-trans.png" alt="">
          <% } %>
        </div>
        </div>
        <i class="fas fa-lock"></i>
        </div>
        <div class="body">
        <div class="date">
          <% let created = new Date(heading.createdAt); %>
          <% let edited = new Date(heading.updatedAt); %>
          <i class="far fa-clock"></i><span><%= created.toDateString(); %></span>
        </div>
        <div class="title">
          <%= heading.title %>
        </div>
        <div class="description">
          <%- heading.description.slice(0, 50) %>...
        </div>
        <div class="info">
          <div class="info-tab">
            <i class="far fa-file-alt"></i>
            <span><%= heading.faqs.length %></span>
          </div>
          <div class="info-tab">
            <i class="far fa-folder"></i>
            <span><%= heading.subCategories.length %></span>
          </div>
        </div>
        <div class="last-update">
          <i class="far fa-edit"></i>
          <span>last update on <span><%= edited.toDateString(); %></span></span>
        </div>
        <a href="/entries/<%= heading._id %>" class="btn-chevron"><i class="fas fa-chevron-right"></i></a>
        </div>
        </div>
      <% }); %>
    </div>
  </div>
  <% } %>


</div>

<%- include ('partials/footer') %>
