<%- include ('partials/header') %>


<div class="container jumbotron">
	<div class="avatar-container top" style="margin-top: 40px; padding-left: 0px;">
		<% if(user.avatar) { %>
		<span class="avatar">
			<% if(user.avatar) { %>
			<a href="/user">
				<img src="/imgs/avatars/choices/<%=user.avatar%>">
			</a>
			<% } else { %>
			<a href="/user">
				<img src="/imgs/avatars/default/otter-pixel-trans.png" alt="">
			</a>
			<% } %>
		</span>
		<% } %>
	</div>
	<div class="container">
		<h1 class="jumbo-header">
			Dashboard
		</h1>
		<p>
			Welcome to RVALibrary Deskbook <%= bookEmoji %>
		</p>
	</div>
	<div class="container-fluid db-container">
		<div class="flex-row">
			<div class="db-panel fg1">
				<div class="sub-headline">
					public category contributions
				</div>
				<div class="big-number">
					<%= publicCategoriesTotal %>
				</div>
				<div class="link-container">
					<a href="https://rvalibrary-deskbook.herokuapp.com/category/new-parent">
						<button type="button" class="button-main-sm" name="button">Add</button>
					</a>
				</div>
			</div>
			<div class="db-panel fg1">
				<div class="sub-headline">
					private category contributions
				</div>
				<div class="big-number">
					<%= privateCategoriesTotal %>
				</div>
				<div class="link-container">
					<a href="https://rvalibrary-deskbook.herokuapp.com/category/new-parent-private">
						<button type="button" class="button-main-sm" name="button">Add</button>
					</a>
				</div>
			</div>
			<div class="db-panel fg1">
				<div class="sub-headline">
					FAQ contributions
				</div>
				<div class="big-number">
					<%= faqsTotal %>
				</div>
				<div class="link-container">
				</div>
			</div>
		</div>
		<div class="container" style="margin-top: 20px;">
			<div class="row">
				<div class="col-xs-12">
					<div class="sub-headline">
						Recently Added Tags
					</div>
					<div class="category-container">
						<% categoryArr.forEach(category => { %>
						<a href="/search/?query=<%=category%>"><span class="category"> <%= category %> </span> </a>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="sub-headline">
				Today at the Library
			</div>
			<div class="flex-row event-card-container">
				<div class="loader">
					<div class="loader-inner">
						<div></div><div></div><div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row">
			<div class="db-panel chart1 fg1">
				<li class="absolute-top-right glyphicon glyphicon-plus" aria-hidden="true" id="modalListener"></li>
				<div class="sub-headline">
					<% const today = new Date();%>
					Reference Submissions: <strong><%= `${today.getMonth() + 1}/${today.getDate()}/${today.getFullYear()}` %></strong>
				</div>
				<div class="total-container big-number"></div>
			</div>
			<div class="db-panel chart2 fg1">
				<% const weekAgo = new Date(Date.now() - 604800000); %>
				<div class="sub-headline">
					Reference Submissions: <strong><%= `${weekAgo.getMonth() + 1}/${weekAgo.getDate()}/${weekAgo.getFullYear()}` %> - <%= `${today.getMonth() + 1}/${today.getDate()}/${today.getFullYear()}` %></strong>
				</div>
				<div class="total-container big-number"></div>
			</div>
		</div>
		<div class="flex-row">
			<div class="db-panel fg1">
				<div class="sub-headline">Newest Categories</div>
				<% newestCategory.forEach(category => { %>
				<% let catCreated = new Date(category.createdAt); %>
				<% let catEdited = new Date(category.updatedAt); %>
				<a href="/entries/<%=category._id%>">
					<div class="title">
						<%= category.title %>
					</div>
				</a>
				<i class="far fa-clock"></i><span><%= catCreated.toDateString(); %></span>
				<% }) %>
			</div>
			<div class="db-panel fg1">
				<div class="sub-headline">Newest FAQS</div>
				<% newestFAQ.forEach(faq => { %>
				<% let faqCreated = new Date(faq.createdAt); %>
				<a href="/entries/<%=faq.section%>/<%=faq._id%>">
					<div class="title">
						<%= faq.title %>
					</div>
				</a>
				<i class="far fa-clock"></i><span><%= faqCreated.toDateString(); %></span>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="flex-row">
		<div class="db-panel" style="width: 100%;">
			<div class="sub-headline">
				Changelog
			</div>
			<div style="margin: 10px;">
				<div class="sub-headline">
					May 13, 2021
				</div>
				<ul>
					<li>Added bookmarking feature for categories. User can visit a public category and select the bookmark option for quick access in their admin panel. Also added bookmark navigation in top nav. This feature is under current development and will be expanded.</li>
				</ul>
			</div>
			<div style="margin: 10px;">
				<div class="sub-headline">
					May 12, 2021
				</div>
				<ul>
					<li>Added two new sorting methods for reference queries - support for time ascending and descending</li>
				</ul>
			</div>
			<div style="margin: 10px;">
				<div class="sub-headline">
					May 7, 2021
				</div>
				<ul>
					<li>Added more avatars - user > change-avatars: dracula, skeleton, lady justice and cyber eye</li>
				</ul>
			</div>
		</div>
	</div>
	</div>

</div>


<!-- <div class="container-fluid bg-linen admin-panel">
	<div class="container smooth-border shadow bg-white admin-panel-main-card">

	</div>
</div> -->






<%- include ('partials/footer') %>
<script type="module" src="/landing.js"></script>
