<%- include ('../partials/header') %>



<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="jumbo-header">Update Password</h1>
      <p></p>
    </div>
  </header>
</div>

<div class="container center-block">
  <form action="/user/<%= loggedUser._id %>/change-password" method="POST" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <% if(message) {%>
        <h3 style="color: #cc262d"><%= message %></h3>
      <% } %>
    <% if(loggedUser.isAdmin) { %>
    <div class="form-group form-group-select">
      <div class="tag-input-container">
        <div class="headline">
          select user
        </div>
      <select id="userList" name="user">
        <% users.forEach(user => { %>
        <!-- <option id="defaultUserSelect" hidden disabled selected value>select user</option> -->
        <% if(user.username == loggedUser.username){ %>
          <option value="<%=user._id%>" selected><%= user.username %></option>
        <% } else {%>
        <option value="<%=user._id%>"><%= user.username %></option>
        <% } %>
        <% }) %>
      </select>
      <!-- original -->
      <!-- <label for="formGroupExampleInput">Username</label>
      <input type="text" disabled class="form-control" id="formGroupExampleInput" placeholder="" name="username">
    </div> -->
    <% } else { %>
      <div class="form-group">
        <label for="formGroupExampleInput">Username</label>
        <input type="text" disabled class="form-control" id="formGroupExampleInput" placeholder="<%=loggedUser.username%>" name="username">
      </div>
    <% } %>
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">New Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="new password" name="password1">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Reenter New Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput3" placeholder="reenter new password" name="password2">
    </div>
    <button class="button-main">Submit</button>
  </form>
</div>
