<%- include ('../partials/header') %>

<div class="container">
    <header class="jumbotron">
	  <div class="container">
		<h1 class="jumbo-header">User Panel</h1>
    <p class="jumbo-header"><span class="avatar"><img src="/imgs/avatars/choices/<%=user.avatar%>"></span><%= user.username %></p>
		<p></p>
		<!-- <a href="/entries/new"><button class="button-main">Add A New FAQ</button></a> -->
	  </div>
	</header>

  <div class="row text-center" style="display: flex; flex-wrap: wrap">
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Change Password</h3>
        <div class="caption">

        </div>
        <p>
          <a href="/user/<%= user._id %>/change-password" class="button-main-sm">Edit</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Manage Reference Entries</h3>
        <div class="caption">
          Browse and delete reference entries submitted under user account
        </div>
        <p>
          <a href="/user/<%= user._id %>/reference" class="button-main-sm">Edit</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Change Avatar</h3>
        <div class="caption">

        </div>
        <p>
          <a href="/user/<%= user._id %>/change-avatar" class="button-main-sm">Change</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Bookmarks</h3>
        <div class="caption">

        </div>
        <p>
          <a href="/user/<%= user._id %>/bookmarks" class="button-main-sm">Browse</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Update Account Details</h3>
        <div class="caption">
          Update all your account details here
        </div>
        <p>
          <a href="/user/<%= user._id %>/account-details" class="button-main-sm">Edit</a>
        </p>
      </div>
    </div>
    <% if(user.isAdmin) { %>
      <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
        <div class="thumbnail">

          <h3 class="section-name">Register New Account</h3>
          <div class="caption">
            Initiate new accounts
          </div>
          <p>
            <a href="/register" class="button-main-sm">Register</a>
          </p>
        </div>
      </div>
    <% } %>
  </div>
</div>


<%- include ('../partials/footer') %>
