<%- include('../partials/header.ejs') %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="jumbo-header">RVA Library Deskbook</h1>
      <p><%=greeting.greeting%> <%=greeting.emoji%></p>
      <p style="font-size: 14px;">The RVALibrary Deskbook is a compendium of public facing knowledge compiled by the Richmond Public Library staff to help serve our customers. Here you will find some of our most frequently asked questions with answers ranging in the form of tutorials or links. This is by no means a complete list, but a growing work in progress. If you would like to see a resource added to the deskbook, please do so by submitting a guide request.</p>
      <% if(user && user.isAdmin) { %>
      <a href="/public/category/new"><button class="button-main">Add New Public Facing Category</button></a>
      <% } %>
      <br>
      <a href="/help"><button class="button-main">Suggest A Guide</button></a>
    </div>
    <div class="container">
      <div class="container-fluid db-container">
        <div class="flex-row">
          <div class="db-panel fg1">
            <div class="headline">
              Search Our Public Resources
            </div>
            <div class="sub-headline">
              ex. gmail, job, resume
            </div>
            <div class="flex-input">
              <form id="publicSearch" class="navbar-left" action="/public/search/" method="GET">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="search" name="query">
                <button type="submit" class="inner-input"><i style="font-size: 14px; color: black;" class="fas fa-search" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="sub-headline">
            Today at the Library
          </div>
          <div class="flex-row event-card-container">
            <div class="loader">
              <div class="loader-inner">
                <div></div><div></div><div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="db-panel fg1">
            <div class="sub-headline">
              Browse Our Resource Categories
            </div>
            <div class="flex-row flex-center">
              <% publicCategories.forEach((category, i) => { %>
              <div class="bookmark-card-full-container">
                <div class="bookmark-card tall">
                  <div class="front">
                    <div class="slanted-header-full" style="background:#<%= Math.floor(Math.random()*16777215).toString(16); %>"></div>
                    <div class="bookmark-details">
                      <div class="title">
                        <%=category.title%>
                      </div>
                      <div class="description">
                        <%= methods(category.description, 40); %>
                      </div>
                      <a style="position: relative; bottom: 0px;" href="/public/category/<%=category._id%>" class="btn-chevron"><i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
                  <div class="back">
                      <div class="bookmark-back-details-container">
                        <div class="back-bookmark-details">
                          <h3 class="back-details-header">Details</h3>
                          <div class="info-tab">
                            <i class="far fa-file-alt"></i>
                            <span><%=category.faqs.length%></span>
                          </div>
                          <div class="info-tab">
                            <i class="far fa-folder"></i>
                            <span><%=category.subCategories.length%></span>
                          </div>
                          <div class="back-details-date">
                            <span>Updated On: <%=category.updatedAt.toDateString()%></span>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <% if(category.faqs.length || category.subCategories.length) { %>
              <div class="category-container">
                <div class="headline">
                  Inside <%= category.title %>
                </div>
                <% category.faqs.forEach(faq => { %>
                  <a href="/public/category/<%=faq.section%>/<%=faq._id%>"><span class="category"> <%=faq.title%> </span> </a>
                <%}) %>
                <% category.subCategories.forEach(subCategory => { %>
                  <a href="/public/category/<%=subCategory._id%>"><span class="category"> <%=subCategory.title%> </span> </a>
                <%}) %>
              </div>
              <% } %>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<script type="module" src="/public.js"></script>
<%- include('../partials/footer.ejs') %>
